@import "variables";
@import "lost";

figure {
  @include column(1/4);
  background: darken(blue, 10%);
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: white;
  margin-top: $gutter;
  margin-bottom: $gutter;
  @media (max-width: 768px) {
   @include column(1);
  }
}

.red {
  background: lighten(red, 20%);
}

.row-1 {
  @include column(1/1);
}

.row-2 {
   @include column(1/2);
}

.row-3 {
   @include column(1/3);
}

section {
  @include container($pad: 30px, $mw: 980px);
  background: lighten(blue, 10%);
}
